* {
  margin: 0px;
}
body {
  font-family: fantasy;
}

/* Navbar */
.navbar {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
  background-color: #262e3c;
  border-right: 1px solid lightgray;
}

.logo {
  display: flex;
  margin-left: 30px;
  /* justify-content: center; */
  align-items: center;
}
.logo-text {
  color: #37a8c7;
  font-size: 22px;
  margin-top: 10px;
  font-weight: bold;
}

.guide {
  margin-top: 30px;
  height: 30px;
  width: 180px;
  background-color: #3c4350;
  border-radius: 5px;
  margin-left: 30px;
}
.text {
  color: white;
  text-align: center;
}

.ant-menu-submenu-title {
  padding-left: 30px !important;
  font-size: 18px;
  font-weight: 500;
  background-color: #262e3c;
  color: white;
  margin: 0px !important;
}
.ant-menu-submenu
  ant-menu-submenu-inline
  ant-menu-submenu-open
  ant-menu-submenu-active {
  color: #37a8c7;
}
.ant-menu-submenu-arrow::before {
  margin-right: 10px;
  color: white;
}
.ant-menu-submenu-arrow::after {
  margin-right: 10px;
  color: white;
}

.menu-item {
  background-color: #262e3c;
  color: white !important;
}

.navbar a {
  font-size: 18px;
  margin-left: 30px;
  color: white;
}
h3 {
  margin: 0px !important;
}

/* Main */
.main {
  margin-top: 30px;
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-right: 300px;
}

.search-container {
  top: 0;
  position: fixed;
  background-color: white;
  padding-bottom: 15px;
}

.search-box {
  margin-top: 15px;
}

.welcome {
  margin-top: 20px;
}

.card {
  width: 600px;
  height: 150px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* align-items: center; */
}
.card img {
  margin: 15px 0px 0px 15px;
}

.card-title {
  margin: 15px 0px 0px 15px;
  font-weight: bold;
}
.card-subtitle {
  margin: 0px 0px 0px 15px;
  font-size: 16px;
}
/* Preview */
.preview {
  margin-top: 30px;
  width: 270px;
  top: 0;
  right: 0;
  float: right;
  position: fixed;
}

.preview a {
  color: black;
  margin-left: 30px;
}

.code {
  background-color: black;
  color: white;
}
