* {
  margin: 0px;
}

html,
body {
  font-family: "Inter", sans-serif !important;
}

/* Navbar */
.navbar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
  background-color: #262e3c;
  border-right: 1px solid lightgray;
}

.logo {
  display: flex;
  margin-left: 30px;
  /* justify-content: center; */
  align-items: center;
}
.logo-text {
  color: #37a8c7;
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

.guide {
  margin-top: 30px;
  height: 30px;
  width: 180px;
  background-color: #3c4350;
  border-radius: 5px;
  margin-left: 30px;
}
.text {
  color: white;
  text-align: center;
}

.ant-menu-submenu-title {
  padding-left: 30px !important;
  font-size: 18px;
  font-weight: 500;
  background-color: #262e3c;
  color: white;
  margin: 0px !important;
  padding-right: 5px !important;
}
.ant-menu-submenu-active {
  color: #37a8c7 !important;
  
}

.ant-menu-submenu-title:hover {
  color: #37a8c7 !important;
}
.ant-menu-submenu-arrow {
  right: 30px !important;
}

.ant-menu-submenu-arrow::before {
  margin-right: 20px !important;
  color: white;
}
.ant-menu-submenu-arrow::after {
  margin-right: 20px;
  color: white;
}

.ant-menu-item {
  background-color: #262e3c !important;
}
.ant-menu-item:hover {
  color: #37a8c7 !important;
}
.ant-menu-item-active {
  color: #37a8c7 !important;
}

.ant-menu-item-selected::after {
  opacity: 0 !important;
}

.menu-item {
  background-color: #262e3c;
  color: white !important;
}

.navbar a {
  font-size: 18px;
  margin-left: 30px;
  color: white;
}
.navbar a:hover {
  color: #37a8c7;
}
h3 {
  margin: 0px !important;
}

/* Main */
.main {
  margin-top: 30px;
  margin-left: 330px; /* Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 0px 10px 3px 10px;
  margin-right: 330px;
}

.search-container {
  top: 0;
  position: fixed;
  background-color: white;
  padding-bottom: 15px;
  z-index: 99;
}

.search-box {
  margin-top: 15px;
  background-color: white;
  width: 100%;
}

.search-box input {
  background-color: white;
}

.welcome {
  margin-top: 20px;
}

.card {
  width: 500px;
  height: 200px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-container {
  display: flex;
  flex-direction: row !important;
  padding: 10px;
  /* align-items: center; */
  /* justify-content: center; */
}

.card img {
  margin: 15px 0px 0px 15px;
}

.card-title {
  margin: 15px 0px 0px 15px;
  font-weight: 550;
  font-size: 25px;
}
.card-subtitle {
  margin: 0px 0px 0px 15px;
  font-size: 16px;
}

.box-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.box {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-text-left p {
  margin: 0px 0px 0px 10px;
}

.box-text-right p {
  margin: 0px 10px 0px 0px;
  text-align: right;
}

/* Preview */
.preview {
  margin-top: 20px;
  width: 300px;
  top: 0;
  right: 0;
  float: right;
  position: fixed;
}

.select-lang {
  display: flex;
  align-items: center;
}

.select-lang p {
  margin: 0px;
}

.preview a {
  color: black;
  margin-left: 30px;
}

.ant-anchor-link-title-active {
  color: #37a8c7 !important;
}
.code {
  background-color: black;
  color: white;
}

.ant-anchor-ink-ball {
  border-color: #37a8c7 !important;
}

.anchor {
  margin-top: 50px;
}
